div(style="font-size:10px;")
	span(style="font-weight:bold;") Congratulations for your new product!
	br
	span Share your friends with your purchase, convinced them to buy the product and you can earn money.
button.uibutton.confirm(ng-click="facebookConnect()", ng-show="buttons.facebook.show") {{ buttons.facebook.text }}
//- br
//- button(ng-click="") Create Account
//- button(ng-click="") Login