.page
	.page-header-content
		h1 Your Dispersale Administration Center
			small &nbsp;

	.page-region
		.page-region-content
			.grid
				.row
					.span4(style="width:100%;")
						h3.padding5.bg-color-red.noise.margin-bottom(style="height:40px;")
							i.white.icon-home
							span.white Home